@font-face{
    font-family: "Netflix";
    src:url("../../fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Netflix";
    src:url("../../fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}
:root{
    font-size:16px;
}
*,*::before,*::after{
    padding:0;
    margin :0;
}
.logo-brand{
    width:20px;
}
body{
    background-color:#000;
    color:#fff;
    font-family: Netflix;
}
.header{
    /* padding:15px; */
    position: relative;
    z-index: 2;
    padding: .7rem ;
    box-shadow: 0px 0rem 3rem 1rem #000 ;
    /* background-image: linear-gradient(to top,transparent 10%,#000 15%,#000 90% ); */
}
a {
    color:#fff;
    text-decoration: none;
}
.header-navigation{
    list-style: none;
    /* border: 1px red solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 0 2rem;
}
.top-navigation{
    padding-bottom: 2rem;
}
.video-footer{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    background-image:  linear-gradient(to top,#000, #000 30%, rgb(0,0,0,.5) 60%,transparent);
}
.tags{
    display: flex;
    position: relative;
    /* border:1px solid yellow; */
    flex-direction: row; 
    justify-content: space-evenly; 
    padding:1rem;
    font-size: 1.5vh;
    list-style: none;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
   }
video,img {
    width: 100%;
    height: auto;
}
.button{
    display: flex;
    border:none; 
    position: relative;
    z-index: 2;
    align-items: center;
    min-width: 40px;
    /* border : 1px solid blue; */
}
.secundary{
    flex-direction: column;
    background-color : transparent;
    color:#fff
}
.primary.play{
    /* justify-content:center; */
    /* align-items: center; */
    padding: .5rem 1rem;
    font-weight: 700;
    border-radius: 3px;
}
.video .cover{
    object-fit: cover;
}
.featured{
    position: relative;
}

.tab-navigation{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: #000;
    z-index: 2;
}

.tab-menu{
    display: flex;
    justify-content: space-evenly;  
    list-style:none ;
}
.tab-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-item img{
    max-width: 30px;
}
.movies-section{
    padding:2rem;
    min-height:50vh;
}
.movies-list{
    display: flex;
    overflow-x:auto;
    gap:.7rem;
}
.movie{
    min-width: 200px;
    display:inline-block;
}
.tab-item{
    padding:.5rem;
    color:#222;
}
.tab-item:hover,.tab-item:hover path{
    color:#fff;
    fill: #fff;
}